extends layout

block content
  h1 Random Country
  p I created a list of countries, originally from <a href="https://www.countries.io">www.countries.io</a> but then created a static list that may or may not be as complete as countries.io, but, they had a flag. :)  <br/>The new data source is <a href="https://www.wikipedia.org">Wikipedia</a>. You can also point your browser at <a href="https://randomcountry.jamulheavyindustries.com/index.json">randomcountry.jamulheavyindustries.com/index.json</a> to get json data. There's also an Alexa skill called "Random Country".  You can see what I'm feeding it here: <a href="https://randomcountry.jamulheavyindustries.com/alexa">randomcountry.jamulheavyindustries.com/alexa</a>
