extends layout

block content
  h1 Random Country
  p
    | This is the third iteration.  First iteration was an async call to  
    a(href="https://countries.io") countries.io 
    | and grabbing a random entry from the json object output.
  p
    | Second iteration was a static list from countries.io.
    | I liked this because of one less dependency but I didn't like that
    | now I was in charge of keeping the list up to date.
  p
    | Third iteration, because they had a flag, :) uses a static list
    | of countries from a 
    a(href="https://en.wikipedia.org/wiki/Gallery_of_sovereign_state_flags") Wikipedia 
    | article about flags. You can also point your browser at  
    a(href="index.json") index.json 
    | to get json output. 
  p
    | There's also an Alexa skill called "Random Country".
    | You can see what I'm feeding it 
    a(href="https://randomcountry.jamulheavyindustries.com/alexa") here
    |.
  p
    | The source code may be found on 
    a(href="https://www.github.com/keithpjolley/randomcountry") github
    |.
