extends layout

block content
  h1 Random Country
  h2 #{title}
  img(src=image.smallImageUrl, alt="Flag of " + title)
  p 
  p Images courtesy of <a href="https://en.wikipedia.org/wiki/Gallery_of_sovereign_state_flags">Wikipedia</a>.
  p Keith P Jolley 
  a(href="http://randomcountry.jamulheavyindustries.com/help.html") help
    
